doctype html

mixin postTags(tags)
	if tags
		.post-tags
			for tag in tags
				span.post-tag= tag

mixin postHeader(post) 
	h1(class="post-title")= post.title
	.post-metadata
		span(class="post-date")= post.date
		+postTags(post.tags)

mixin postFooter(postsById)
	if postsById && postsById[metadata.id]
		.post-footer
			if postsById[metadata.id].prev
				a(href=postsById[metadata.id].prev.url).post-link
					i.far.fa-arrow-alt-circle-left
					| &nbsp;
					span.post-link-title= postsById[metadata.id].prev.title
			if postsById[metadata.id].next
				a(href=postsById[metadata.id].next.url).post-link.post-link-next
					span.post-link-title= postsById[metadata.id].next.title
					| &nbsp;
					i.far.fa-arrow-alt-circle-right

html(lang="en")
	include html-head.pug
	body
		.layout.blog-post-layout
			.navigation
				include navigation.pug
			.left-spacer &nbsp;
			.content
				.post-hero-image(style='background-image: url("/static/images/'+post.img+'");')
				.blog-post
					+postHeader(post)
					block content
				+postFooter(postsById)
