//- Input: post { img, title, excerpt }
div(class=post["appear-when-visible"] ? "appear-when-visible" : "").blog-list-card.card.shadow
	img.card-img-top(src="/static/images/"+post.img)
	.card-body
		a.stretched-link(href=post.url)
			h3.post-title= post.title
		p.post-excerpt= post.excerpt
		.post-metadata
			.post-date-wrapper
				i.far.fa-calendar
				span.post-date= post.date
				if post.sticky
					i.fas.fa-thumbtack.post-date
			if post.tags
				.post-tags
					i.fa.fa-tags
					for tag in post.tags
						span.post-tag= tag
