doctype html

mixin postTags(tags)
	if tags
		.post-tags
			for tag in tags
				span.post-tag= tag

mixin postHeader(post) 
	h1(class="post-title")= post.title
	.post-metadata
		.post-date-wrapper
			i.far.fa-calendar
			span.post-date= post.date
		if post.tags
			.post-tags
				i.fa.fa-tags
				for tag in post.tags
					span.post-tag= tag

mixin postFooter(postsById)
	if postsById && postsById[metadata.id]
		.post-footer
			if postsById[metadata.id].prev
				a(href=postsById[metadata.id].prev.url).post-link
					i.far.fa-arrow-alt-circle-left
					| &nbsp;
					span.post-link-title= postsById[metadata.id].prev.title
			if postsById[metadata.id].next
				a(href=postsById[metadata.id].next.url).post-link.post-link-next
					span.post-link-title= postsById[metadata.id].next.title
					| &nbsp;
					i.far.fa-arrow-alt-circle-right
		.licence
			p(xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text")
				span(rel="dct:title") Doogie.de is licensed under 
				a(rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0") CC BY-NC 4.0&nbsp;
				i.fab.fa-creative-commons &nbsp;
				i.fab.fa-creative-commons-by &nbsp;
				i.fab.fa-creative-commons-nc-eu


html(lang="en")
	include html-head.pug
	body
		.layout.blog-post-layout
			.navigation
				include navigation.pug
			.left-spacer &nbsp;
			.right-container.container-fluid
				.blog-post-card.card.shadow.mt-3
					img.card-img-top(src="/static/images/"+post.img)
					.card-body
						+postHeader(post)
						block content
				+postFooter(postsById)
