doctype html

mixin postTags(tags)
	if tags
		.post-tags
			for tag in tags
				span.post-tag= tag

mixin postHeader(post) 
	.post-hero-image(style='background-image: url("/static/images/'+post.img+'");')
	h1(class="post-title")= post.title
	.post-metadata
		span(class="post-date")= post.date
		+postTags(post.tags)

mixin postFooter(post)
	.post-footer
		if post && post.prev
			a(href=post.prev.url).post-link
				| << 
				span.post-link-title= post.prev.title
		if post && post.next
			a(href=post.next.url).post-link.post-link-next
				span.post-link-title= post.next.title
				| &nbsp;>>

html(lang="en")
	include html-head.pug
	body
		.layout.blog-post-layout
			.navigation
				include navigation.pug
			.left-spacer &nbsp;
			.content
				//- MAYBE: I could add +postHeader(post) here. Does every post have the same header or do I need flexibility?  Its just one line in the post.pug
				.blog-post
					block content
				+postFooter(post)
					
					
			

