doctype html

mixin postTags(tags)
	if tags
		.post-tags
			for tag in tags
				span.post-tag= tag

mixin postHeader(metadata) 
	.post-hero-image(style='background-image: url("/static/images/'+metadata.img+'");')
	h1(class="post-title")= metadata.title
	.post-metadata
		span(class="post-date")= metadata.date
		+postTags(metadata.tags)

mixin postFooter(postData)
	.post-footer
		if postData && postData.prev
			a(href=postData.prev.url).post-link
				| << 
				span.post-link-title= postData.prev.title
		if postData && postData.next
			a(href=postData.next.url).post-link.post-link-next
				span.post-link-title= postData.next.title
				| &nbsp;>>

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="/static/style.css")
		link(rel="stylesheet", href="/static/fontawesome-icons/css/all.min.css")
		title Doogie.de
	body
		.layout.blog-post-layout
			.navigation
				include navigation.pug
			.left-spacer &nbsp;
			.content
				.blog-post
					block content
				+postFooter(postData)
					
					
			

