
if !posts || posts.length === 0
	p No posts in this blog yet!

if tagListHeader
	.tag-header-wrapper
		span.post-tag= tagListHeader
		span.post-tag.tag-header-close
			a(href="/") &#x2715;


ul.blog-list
	each post in posts
		li.blog-list-item
			a.excerpt-link(href=post.url)
				.hero-image-wrapper(style='background-image: url("/static/images/'+post.img+'");')
				.excerpt-content-wrapper
					.excerpt-content
						h1.post-title= post.title
						.post-metadata
							span.post-date= post.date
							if post.tags
								.post-tags
									for tag in post.tags
										span.post-tag= tag
						p.post-excerpt= post.excerpt